.footer {
    background: #f9f9f9;
    text-align: center;
}

.footer h1 {
    color: #565a5c;
    font-size: 40px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 5px;
}

.footer .container {
    padding: 100px 0px;
}

.footer img {
    width: 80%;
    height: 90px;
    display: block;
    margin: 0 auto;
}

.footer .info {
    color: #666666;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 26px auto;
    text-align: center;
    font-weight: 500;

}

.footer h2 {
    color: #565a5c;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.footer p {
    margin-bottom: 8px;
    font-size: 14px;
    text-align: center;
}

.footer p a {
    color: #565a5c;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin: 0 10px;
    font-weight: 500;
}

.footer .number {
    color: #666666;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 500;

}

.footer .copyright {
    color: #666666;
    font-size: 16px;
    margin-top: 28px;
    text-align: center;
    font-weight: 400;

}

.footer .copyright a {
    color: #00d8ff;
}

@media (max-width: 768px) {
    .footer .container {
        padding: 50px 0px;
    }

    .footer img {
        width: 80%;
        height: auto;
    }

    .footer .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .col-sm-3 {
        width: 100%;
        margin-bottom: 20px;
    }
}