#navbar {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: rgb(237, 245, 255);
    padding: 10px 30px;
    box-shadow: 0px 1px 10px #0d509c;
}

.navbar .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

.navbar .col-sm-2 {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.navbar img {
    height: 80px;
    width: 100%;
}

.navbar .col-sm-8 {
    flex: 1;
    max-width: 900px;
    text-align: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    gap: 40px;
}

.navbar ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #0d509c;
    font-weight: 600;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

.navbar ul li a:hover {
    color: #e6302c;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.navbar .col-sm-2:last-child {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar .book-button {
    width: 120px;
    height: 40px;
    background-color: #0d509c;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    padding: 10px 5px;
    transition: all 0.3s ease-in-out;
}

.navbar .book-button:hover {
    background-color: #e6302c;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #0d509c;
}

@media screen and (max-width: 768px) {
    .navbar .row {
        flex-direction: column;
        align-items: center;
    }

    .navbar .col-sm-2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .navbar img {
        height: 55px;
        width: 100%;
        max-width: 150px;
    }

    .navbar .col-sm-8 {
        width: 100%;
        text-align: center;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0px;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .navbar .col-sm-2:last-child {
        justify-content: center;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }

    .logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .menu-toggle {
        display: block;
        margin-left: 50px;
    }

    .navbar .col-sm-8.hidden,
    .navbar .col-sm-2.hidden {
        display: none;
    }
}